.Author{
    color: rgb(64,127,178);
}

.Time{
    color: rgb(180,189,195);
}

.wrap{
    border: 5px solid green;
    width: 600px;
    height: 400px;
    display: flex;
}
.form{
    border: 1px solid green;
}

.comment{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
